.donateContainer {
    max-width: 1530px;

    .donateRow {
        background-color: #4f5c19;
    }

    .donateDescription {
        color: white !important;

        svg {
            height: 2.5em;
            width: 2.5em;
            fill: #F8B513;
        }

        div {
            max-width: 575px;
            margin: auto;
        }

    }

    .imageWrapper {
        max-width: 766px;
    }

    .more-info {
        font-size: 10px !important;
    }
}